@tailwind base;
@tailwind components;
@tailwind utilities;

.portfolio {
    background: #191919;
    background-image:
        linear-gradient(90deg, #111 1rem, transparent 1rem),
        linear-gradient(#111 1rem, transparent 1rem);
    background-size: 1.2rem 1.2rem;
    @apply absolute w-full h-full shadow shadow-slate-700;
}

.btn-portfolio:after {
    content: '';
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid rgb(100 116 139);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: -0.5rem;
    right: 0rem;
    -webkit-transition: border-color 250ms ease-in-out;
    transition: border-color .2 ease-in-out;
}

.transition-about-enter-active {
    transition: all 0.3s ease-out;
}

.transition-about-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.transition-about-enter-from,
.transition-about-leave-to {
    transform: scale(.2);
    opacity: 0;
}

.bg-about {
    background-image: url("~assets/portfolio-about-darken.jpg");
    background-size: cover;
    background-position: center center;
}

.stamp {
    position: relative;
    display: inline-block;
    padding: 15px;
    box-shadow:inset 0px 0px 0px 10px rgb(248, 113, 113);
    @apply text-red-400;
}

.stamp:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("http://i.imgur.com/5O74VI6.jpg");*/
    mix-blend-mode: lighten;
}

.scroll-indicator {
    width: 40px;
    height: 60px;
    border: 2px solid rgba(34, 197, 94 , 0.781);
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 35px -5px rgba(34, 197, 94, 0.781);
}
  
.scroll-indicator::before {
    content: '';
    position: absolute;
    top: .5em;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(34, 197, 94 , 0.781);
    border-radius: 50%;
    transform: translate(-50%, 0);
    animation: scrollAnim 1.8s .5s infinite ease-in;
    box-shadow: 0px 0px 35px -5px rgba(34, 197, 94, 0.781);
}
  
/* Animation */
@keyframes scrollAnim {
    0% {
      transform: translate(-50%, 0) rotateX(0);
      opacity: 0;
    }
  
    5% {
      opacity: .5;
    }
  
    15% {
      opacity: 1;
    }
  
    90%,
    100% {
      opacity: 0;
    }
  
    100% {
      transform: translate(-50%, 30px) rotateX(30deg);
    }
}

.link{
    @apply text-green-500 hover:text-green-400;
}